@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
  font-family: "Open Sans", sans-serif;
  background-color: #585858;
}
/*Basic Phone styling*/

.phone {
  border: 40px solid #000;
  border-width: 55px 7px;
  border-radius: 15px;
  margin: 50px auto;
  overflow: hidden;
  transition: all 0.5s ease;
}

.phone iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
/*Different Perspectives*/

.phone.view_1 {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  box-shadow: 0px 5px 0 #272727, 0px 10px 20px #000;
  width: 400px;
  height: 680px;
}

/*Controls*/
#views {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
}

#views button {
  width: 198px;
  border: 1px solid #bbb;
  background-color: #fff;
  height: 40px;
  margin: 10px 0;
  color: #666;
  transition: all 0.2s;
}

#views button:hover {
  color: #444;
  background-color: #eee;
}

@media (max-width: 900px) {
  #wrapper {
    transform: scale(0.8, 0.8);
  }
}

@media (max-width: 700px) {
  #wrapper {
    transform: scale(0.6, 0.6);
  }
}

@media (max-width: 500px) {
  #wrapper {
    transform: scale(0.4, 0.4);
  }
}
