.login {
  margin: 3rem 1rem;
  padding: 1rem;
}
#logo {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: bold;
  margin-top: 0px;
  background: #405da8;
  color: #fff;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 4px #000000;
}
#logo small {
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: uppercase;
  background: #29b199;
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 0px 5px 5px 0px;
}

div.container-logo {
  min-width: 100%;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 3rem;
}

img.img-logo {
  display: block;
  width: 140px;
  margin: 2rem auto 1rem auto;
}
